.listContainer {
    width: 270px;
    background-color: rgb(230, 230, 230);
    height: fit-content;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 2px 3px 8px rgb(130, 130, 130);
}
.isDragging {
    opacity: 0.5;
    width: 270px;
    z-index: 100;
    
}


.listTitle {
    color: rgb(76, 76, 76);
    font-size: 14px;
    font-weight: 600;
}

.input {
    width: 220px;
    color: rgb(54, 54, 54);
    font-size: 14px;
    align-self: center;
    height: auto;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: 2px solid  rgba(39, 171, 164, 0.834);
    border-radius: 5px;
}

.listTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listTitleTextField {
    border: 200xp solid rgb(238, 4, 4);
    width: 210px;
}



.btnhandleCard {
    padding: 5px;
    color: rgb(68, 68, 68);
    font-size: 14px;
    border-radius: 5px;
    width: 95%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(230, 230, 230);
    border: none;

}

.btnhandleCard:hover {
    background-color: rgb(188, 188, 188);
}

.icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(68, 68, 68);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.icon-button:hover {
    background-color: rgb(188, 188, 188);

}

.btnAddCard {
    background-color: rgba(39, 171, 164, 0.834);
    padding: 5px;
    font-size: 14px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;

    border: 0.3px solid rgb(130, 130, 130);
}

.inputCardContent {
    background-color: white;
    width: 93%;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(167, 167, 167);
    margin-bottom: 5px;

    font-size: 14px;
    height: fit-content;
    border: transparent;
    outline: none;
    color: rgb(91, 91, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}

.addOrCancelContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;

}