.boardContainer {
    width: 80vw;
    height: 100vh;
    background-color: rgb(62, 175, 175);
    display: flex;
    padding: 10px;
    border: 0.2px solid rgb(85, 85, 85);
    flex-wrap: wrap;
}

#title {

}

.btnAdd {
    background-color: rgba(39, 171, 164, 0.834);
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    width: 60px;
    border: 0.3px solid rgb(130, 130, 130);
}

#btnAdd:hover {
    background-color: rgba(84, 139, 139, 0.834);
}

#handleAddBtn {
    font-size: 14px;
    margin: 5px;
    display: flex;
    align-items: center;
    width: 250px;
    flex-direction: row;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(96, 207, 201, 0.834);
    border: 0;
    font-weight: 600;
}

#handleAddBtn:hover {
    font-size: 14px;
    margin: 5px;
    display: flex;
    align-items: center;
    width: 250px;
    flex-direction: row;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(84, 198, 193, 0.834);
    border: 0;
    font-weight: 600;
}

.boardFlex {
    display: flex;
    flex-direction: row;
    
}
.boardColumn {
    display: flex;
    flex-direction: row;
    align-items: start;

}

.input {
    color: rgb(54, 54, 54);
    font-size: 16px;
    width: 95%;
    align-self: center;
    height: auto;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}