.workSpaceContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 100px;
    overflow-y: auto;
    background: linear-gradient(180deg, #00d9d2, #077293, #004a72);
}

.workSpaceCard {
    width: 60%;
    background-color: rgb(253, 255, 255);
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
   
    box-shadow: 2px 2px 5px 1px rgb(93, 93, 93);
    padding: 20px;
    padding-left: 50px;

}

.boardShowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boardShow {
    width: calc(20% - 10px);
    height: 100px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(204, 204, 204);
}
.boardShow:hover {
    background-color: #0d2a5e;
}
.boardTextOpacityContainer {
 
    background-color: rgba(151, 151, 151, 0.5);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   
}
.boardText {
  color: white;
  font-weight: bold;

}
.createBoard {
    width: 300px;
    background-color: rgb(245, 245, 245);
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(204, 204, 204);
}

.createInput {
    width: 90%;
    padding: 4px;
    font-size: 14px;
    font-family: sans-serif;
}

.createBtn {
    background: linear-gradient(180deg, rgb(3, 98, 117), #04c6b6);
    padding: 4px;
    outline: none;
    border: 1px solid rgb(132, 132, 132);
    box-shadow: 1px 1px 3px 1px rgb(134, 134, 134);
}

.createBtn:hover {
    background: linear-gradient(180deg, rgb(3, 84, 101), #02ab9d);

}

.colorSelect {
    display: flex;
    width: 90%;
    gap: 5px;
    flex-wrap: wrap;
}

.colorSelect > * {
    border-radius: 3px;
    width: calc(20% - 5px);
    height: 40px;

}
.selectColor {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
