.workSpaceContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 100px;
    overflow-y: auto;
    background: linear-gradient(180deg, #00d9d2, #077293, #004a72);
}

.workSpaceCard {
    width: 1000px;
    background-color: rgb(253, 255, 255);
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
   
    box-shadow: 2px 2px 5px 1px rgb(93, 93, 93);
    padding: 20px;
    padding-left: 50px;

}

.boardShowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boardShow {
    width: calc(23% - 10px);
    height: 120px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(204, 204, 204);
}
.boardShow:hover {
    background-color: #0d2a5e;
}
.boardTextOpacityContainer {
 
    background-color: rgba(151, 151, 151, 0.5);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   
}
.boardText {
  color: white;
  font-weight: bold;

}

.toggleCreateContainer {
    width: calc(23% - 10px);
    height: 120px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(204, 204, 204);
    background-color: rgb(222, 222, 222);
    color: rgb(89, 89, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:5px;
    position: relative;
}
.toggleCreate {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
}
.toggleCreate:hover {
    background-color: rgb(198, 198, 198);
}

.createMenuWrapper {
    top: 0px;
    bottom: 10px;
    left: calc(20% - 0px);
    position: absolute;
    z-index: 1000;
}




