.cardContainer {
    background-color: white;
    width: 93%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    box-shadow: 1px  1px 1px rgb(167, 167, 167);
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: auto;
    color: rgb(91, 91, 91);
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
}

.cardContainer:hover {
    border: 1px solid rgb(0, 238, 255);
}

.inputCard {
    background-color: white;
    width: 93%;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;

    margin-bottom: 5px;

    font-size: 14px;
    height: auto;
    border: none;
    outline: none;
    color: rgb(91, 91, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    overflow: hidden;

}
.cardContentPlacement {
    display: flex;
    flex-direction: column;
}
.cardContentBottom {
    display: flex;
    justify-content: flex-end;
}
.cardContent {
    height: auto;
    padding-bottom: 10px;
}
#trashIcon {
    padding-right: 5px;
}


