.accountOverlay {
    position: fixed;
    top: 102px;
    right: 18px;
    height: auto;
    width: 280px;
    background-color: #eeeeee;
    color: rgb(73, 73, 73);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 15px;
    border-radius: 20px;
  }

  .accountOverlay {
    transform: translateX(0);
}   
.accountMenuPic {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.placeInRightPlace {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: rgb(86, 86, 86);
    align-items: center;
}

.logOut {
    color: rgb(97, 97, 97);
    font-size: 16px;
    border-radius: 10px;
  
    margin-top: 10px;
    padding: 10px ;
}
.logOut:hover {
    background-color: rgb(205, 205, 205);
}


