#root {
  width: 100%;
}

body {

  /*   background-color:  #00b9c0; */
  height: 100%;
  margin: 0;

}

.jelly-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 300px;
  padding: 20px;
  background-color: linear-gradient(180deg, #00b9c0, #69f9d7);
  /* Ljus grå ton för att skapa ett mjukt, neutralt underlag */
}